<script setup>
  import InterpolationExample from '../components/InterpolationExample.vue'
  import EventBindingExample from '../components/EventBindingExample.vue'
  import TwoWayBindingExample from '../components/TwoWayBindingExample.vue'
  import RefReactivityApiExample from '../components/RefReactivityApiExample.vue'
  import ReactiveReactivityApiExample from '../components/ReactiveReactivityApiExample.vue'
  import ComputedReactivityApiExample from '../components/ComputedReactivityApiExample.vue'
  import ParentToChildExample from '../components/parentToChild/ParentToChildExample.vue'
  import ChildToParentExample from '@/components/childToParent/ChildToParentExample.vue'
  import CustomForm from '@/components/CustomForm.vue'

</script>

<template>
  <div>
    <h1>Page d'accueil !</h1>
    <br/>
    <br/>
    <h2>**---------- Interpolation example ----------**</h2>
    <InterpolationExample />
    <br/>
    <br/>
    <h2>**---------- Event binding example ----------**</h2>
    <EventBindingExample />
    <br/>
    <br/>
    <h2>**---------- Two way binding example ----------**</h2>
    <TwoWayBindingExample />
    <br/>
    <br/>
    <h2>**---------- Ref reactivity api example ----------**</h2>
    <RefReactivityApiExample />
    <br/>
    <br/>
    <h2>**---------- Reactive reactivity api example ----------**</h2>
    <ReactiveReactivityApiExample />
    <br/>
    <br/>
    <h2>**---------- computed  reactivity api example ----------**</h2>
    <ComputedReactivityApiExample />
    <br/>
    <br/>
    <h2>**---------- Communication Parent -> enfant ----------**</h2>
    <ParentToChildExample />
    <br/>
    <br/>
    <h2>**---------- Communication enfant -> parent ----------**</h2>
    <ChildToParentExample />
    <br/>
    <br/>
    <br/>
    <h2>**---------- Custom form ----------**</h2>
    <CustomForm />
    <br/>
  </div>
</template>
