<template>
  <div>
    Evénement clic: <button @click="callMe">Call me</button>
  </div>
</template>

<script>
  export default {
    setup() {
      const callMe = () => {
        alert('C\'est un événement clic !');
      }
      return {
        callMe
      }
    }
  }
</script>