<template>
  <div class="form-card">
    <form @submit.prevent="submitForm">
      <div>
        <label for="username">Username:</label>
        <span class="error" v-if="errors.username && !isUsernameValid">{{ errors.username }}</span>
        <input type="text" id="username" v-model="form.username.value" @blur="validateField('username')" />

        <label for="email">Email:</label>
        <span class="error" v-if="errors.email && !isEmailValid">{{ errors.email }}</span>
        <input type="email" id="email" v-model="form.email.value" @blur="validateField('email')" />
      </div>
      <!-- Add more form fields with onBlur validation -->

      <button type="submit">Submit</button>
    </form>
  </div>
</template>
<script setup>
  import { ref, computed } from 'vue';

  const form = {
    username: ref(''),
    email: ref(''),
    // Add more form fields as needed
  };

  const errors = ref({''});

  const isUsernameValid = computed(() => form.username.value.trim() !== '');
  const isEmailValid = computed(() => form.email.value.includes('@'));
  // Add more computed properties for other form fields as needed

  const validateField = (field) => {
    errors.value[field] = ''; // Clear previous error for the field
    if (field === 'username' && !isUsernameValid.value) {
      errors.value.username = 'Username is required.';
    }
    if (field === 'email' && !isEmailValid.value) {
      errors.value.email = 'Invalid email address.';
    }
    // Add more validation checks for other form fields as needed
  };

  const submitForm = () => {
    errors.value = {}; // Clear previous errors
    validateField('username');
    validateField('email');
    // Add more validation checks for other form fields as needed

    if (Object.keys(errors.value).length === 0) { //if no errors are found
      // Validation passed, handle form submission
      console.log('Form submitted successfully!', form);
      // Add logic to send data to the server if needed
    } else {
      console.log('Form has validation errors. Please correct them.');
    }
  };
</script>