<script>
  export default {
    setup () {
      return {
        msg :'Salut chères Softeamiennes et chers Softeamiens !',
      }
    }
  }
</script>
<template>
  <div>
    <h3>{{msg}}</h3>
    <h3 v-text="msg" />
  </div>
</template>
