<script setup>
  import { ref } from 'vue'

  const count =  ref(0)

  function increment() {
    count.value++
  }
</script>

<template>
  <button @click="increment">
    +
  </button>
  {{ count }}
</template>

<style scoped>
  h2 {
    color: #ccc
  }
</style>