<template>
  <div>
    <label>{{name}}</label><br/>
    <input v-model="name" type="text" />
  </div>
</template>

<script>
  import { ref } from 'vue'

  export default {
    setup() {
      const name = ref('Two way binding !')
      return {
        name
      }
    }
  }
</script>