<template>
  <div>
    <ChildExample :name="data" />
  </div>
</template>
<script>
  import ChildExample from './ChildExample.vue'
  import { ref } from 'vue'

  export default {
    components: {
      ChildExample
    },
    setup() {
      const data = ref('la team ??????!');
      return {
        data
      }
    }
  }
</script>