<template>
  <div>
    <ul>
      <li v-for="item in items" :key="item.id">
        {{item.message}}
      </li>
    </ul>
  </div>
</template>
<script>
  import { ref } from 'vue'

  export default {
    setup() {
      const items = ref([{
        id: 1,
        message: 'This is first item !'
      }, {
        id: 2,
        message: 'This is second item !'
      }, {
        id: 3,
        message: 'This is last item !'
      }]);
      return {
        items
      }
    }
  }
</script>