<template>
  <div>
    <button @click="increaseCountBy">Increase +</button>
  </div>
</template>
<script>
  export default {
    emits: ['increaseCountBy'],
    setup(props, ctx) {
      const increaseCountBy = () => {
        ctx.emit('increaseCountBy', 2);
      }

      return {
        increaseCountBy
      }
    }
  }
</script>