<template>
  <div>
    Count: {{ count }}
    <ChildExample @increaseCountBy="data" />
  </div>
</template>
<script>
  import ChildExample from './ChildExample.vue'
  import { ref } from 'vue'

  export default {
    components: {
      ChildExample
    },
    setup() {
      const count = ref(2);
      const data = (increaseBy) => count.value = increaseBy * count.value;
      return {
        count,
        data
      }
    }
  }
</script>