<template>
  <div>
    <p>Count: {{ counterStore.count }}</p>
    <button @click="counterStore.increment">Increment</button>
  </div>
</template>

<script>
  import { useCounterStore } from '@/stores/counter';
  export default {
    setup() {
      const counterStore = useCounterStore();
      return {
        counterStore
      }
    }
  }
</script>